@use '../abstract/mixins';
@use '../abstract/variaveis';

#contatos {
    @include mixins.margin-central(80%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 3rem;

    .contatos-imgs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        max-width: 45%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
        }

        img:nth-child(1) {
            grid-column: 1 / span 2;
        }
    }

    .contatos-form {
        background: variaveis.$gradiente-primario;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem;
        border-radius: 25px;
        max-width: 45%;

        h4 {
            @include mixins.cl-ft-fs(variaveis.$cor-secundario, variaveis.$ft-titulos, 1.8rem);
            margin-bottom: 1rem;
            font-weight: 400;
        }

        p {
            @include mixins.cl-ft-fs(variaveis.$cor-primaria, variaveis.$ft-texto, 1.2rem);
            margin-bottom: 1rem;
            line-height: 1.5em;
        }

        .form-group {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            margin-bottom: 1.2rem;

            label {
                @include mixins.cl-ft-fs(variaveis.$cor-primaria, variaveis.$ft-texto, 1rem);
                font-weight: 600;
            }

            input {
                padding: 0.8rem;
                border: none;
                border-radius: 15px;
                font-family: variaveis.$ft-texto;
            }

            textarea {
                @extend input;
                height: 5rem;
            }
        }
        .btn {
            @include mixins.margin-central(100%);
            @include mixins.cl-ft-fs(#FFFFFF, variaveis.$ft-texto, 1.2rem);
            background-color: variaveis.$cor-secundario;
            font-weight: 600;
            border-radius: 25px;
            border: none;
            padding: 1rem 5rem;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: variaveis.$cor-terciaria;
            }
        }
    }
}