@use '../abstract/mixins';
@use '../abstract/variaveis';

#desconto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10rem 0;

    .desconto-form {
        display: flex;
        flex-direction: column;
        align-items: center;

        h4 {
            @include mixins.cl-ft-fs(variaveis.$cor-primaria, variaveis.$ft-titulos, 1.8em);
            font-weight: 400;
            margin-bottom: 1rem;
        }

        p {
            @include mixins.cl-ft-fs(variaveis.$cor-primaria, variaveis.$ft-texto, 1.2em);
            text-align: center;
            margin-bottom: 2rem;
        }

        .input-btn {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: center;

            input {
                width: 50%;
                padding: 1rem;
                border: 1px solid variaveis.$cor-secundario;
                border-radius: 25px 0 0 25px;
                font-size: 1em;
            }

            button {
                width: 25%;
                padding: 1rem;
                border: none;
                border-radius: 0 25px 25px 0;
                background: variaveis.$cor-secundario;
                @include mixins.cl-ft-fs(#FFFFFF, variaveis.$ft-texto, 1em);
                cursor: pointer;
                font-weight: bold;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: variaveis.$cor-terciaria;
                }
            }
        }
    }
}