@use '../abstract/variaveis';
@use '../abstract/mixins';

footer {
    margin-top: 5rem;
    text-align: center;
    background: variaveis.$cor-quaternaria;
    padding: 1.8rem 0;

    small {
        @include mixins.cl-ft-fs(variaveis.$cor-primaria, variaveis.$ft-texto, 0.875rem);
    }
}