@use '../abstract/mixins';
@use '../abstract/variaveis';

#servico {
    margin-top: 5rem;
    padding-top: 5rem;
    background: variaveis.$gradiente-primario;

    .cards {
        @include mixins.margin-central(80%);
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .card {
            width: 20%;
            background: variaveis.$gradiente-secundario;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            border-radius: 20px;
            text-align: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

            .card-titulo {
                @include mixins.cl-ft-fs(variaveis.$cor-primaria, variaveis.$ft-titulos, 1.2em);
                font-weight: 400;
            }
        }
    }
}